* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;  
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#pagina {
    display: flex;
    background: #e95858;
    padding: 30px 60px; 
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;

  .contenedor {
    background: #000;
    background-image:url(/images/albumCover.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 350px;
    height: 650px;
    // align-items: center;  
  }

  #header{
    display: flex;
    padding-top: 10px;
    margin: 20px;
    height: 320px;
    justify-content: space-between;

    img{
        cursor: pointer;
    }
 }

 #controllers {
     display: flow;
     color: white;
     padding: 60px;
     text-align: center;
     height: 30vh;
     align-items: center;


 }

 #footer{
    display: flex;
    position: fixed;
    bottom: 0; 
    padding-top: 0px;
    margin: 20px;
    justify-content: space-between;
    width: 27vw;
    height: 75px;
    
    img {
        cursor: pointer;
    }
 }


  
}


